<header>
    <img class="logo" src="../../../assets/images/logo.png" alt="bitcoin img">
    <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><img
                src="../../../assets/images/home.png" alt=""></a>
        <a routerLink="/contact" routerLinkActive="active"><img src="../../../assets/images/users.png" alt=""></a>
        <a routerLink="/chart" routerLinkActive="active"><img src="../../../assets/images/increase.png" alt=""></a>
    </nav>
</header>