<section class="home-page">
    <ng-container *ngIf="logdinUser; else welcomeMessage">
      <h1>Hello-{{logdinUser.username}}!</h1>
    </ng-container>
    <ng-template #welcomeMessage>
      <h1>Welcome</h1>
    </ng-template>
<!-- <section class="status">
    <img src="../../../assets/images/coins.png" alt="coins-image">
    <h2> <span>Coins:</span>  {{user.coins}}</h2>
</section> -->
<section class="status">
    <img src="../../../assets/images/bitcoin.png" alt="coin-image">
    <h2> <span>BTC:</span>  {{BitCoinRate}}</h2>
</section>
</section>