<section class="home-page">
  <ng-container *ngIf="logdinUser; else welcomeMessage">
    <h1>Hello: {{ logdinUser.username }}!</h1>
    <img class="imgprofile" [src]="logdinUser.img ? logdinUser.img : '../../../assets/images/contact.png'"
      alt="user-image" />
  </ng-container>
  <ng-template #welcomeMessage>
    <h1>
      Welcome!<br />
      Please login or sign up<br />
      <span class="arrow">
        <img class="arrow" src="../../../assets/images/arrow-down1.png" alt="arrow down" />
      </span>
    </h1>
    <section class="auth-buttons">
      <a routerLink="/login" class="login-btn">Login</a>
      <a routerLink="/signup" class="signup-btn">Sign Up</a>
      <button class="facebook-login-button" evStop (click)="loginWithFacebook()">
        <img class="fb-img" src="../../../assets/images/fb2.png" alt="Facebook login" />
        <span class="facebook-text">Login with Facebook</span>
      </button>
    </section>
  </ng-template>
</section>
<app-chat></app-chat>