@import "../../../../assets/scss/setup/variables";
@import "../../../../assets/scss/setup/functions";

.user-filter {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.filter-container {
  width: 100%;
  padding: 10px 40px 10px 15px; // ריווח בצד ימין בשביל הכפתור
  font-size: rem(16px);
  border: 2px solid $clr8;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &::placeholder {
    color: $clr6;
    font-style: italic;
  }

  &:focus {
    border-color: $clr6;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}

.clear-button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: none;
  color: $clr7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;

  &:hover {
    color: lighten($clr7, 20%);
  }

  &:focus {
    outline: none;
  }
}
