<div class="chat-container">
    <div class="chat-header">
        <!-- כפתור חזרה -->
        <button class="close-dropdown" (click)="triggerCloseChat()">
            <img class="close-chat" src="../../../assets/images/backB.png" alt="go back" />
        </button>

        <!-- שם המשתמש או שם החדר -->
        <h2>
            {{ chatType === 'group' ? room : targetUsername }}
        </h2>
    </div>

    <!-- בחירת חדר בצ'אט קבוצתי -->
    <div class="room-selection" *ngIf="chatType === 'group' && !isRoomJoined">
        <input #roomInput [(ngModel)]="room" placeholder="Enter room name" class="room-input" />
        <button (click)="joinRoom(); isRoomJoined = true" class="join-button"> <img class="send-btn"
                src="https://res.cloudinary.com/dzqnyehxn/image/upload/v1740638820/application_xnlu1o.png"
                alt="go back" /></button>
    </div>

    <div class="chat-box">
        <!-- אזור ההודעות -->
        <div class="messages" #messagesContainer>
            <div *ngFor="let msg of (chatType === 'group' ? messages : privateMessages)" class="message"
                [ngClass]="{'my-message': msg.senderName === 'Me', 'other-message': msg.senderName !== 'Me'}">
                <span class="sender">{{ msg.senderName }}</span>
                <div class="message-content">
                    <div *ngIf="msg.text">{{ msg.text }}</div>
                    <!-- בתוך לולאת ההודעות, במיקום של תצוגת תמונה -->
                    <div *ngIf="msg.imageUrl" class="image-container">
                        <img [src]="msg.imageUrl" alt="Image" class="chat-image"
                            (error)="handleImageError(msg.imageUrl)">
                        <button class="enlarge-button" (click)="openImageModal(msg.imageUrl)">🔍</button>
                    </div>

                    <video *ngIf="msg.videoUrl" [src]="msg.videoUrl" class="chat-video" controls preload="metadata"
                        (error)="handleVideoError(msg.videoUrl)">
                        הדפדפן שלך לא תומך בניגון וידאו.
                    </video>
                </div>
            </div>
        </div>

        <!-- אזור הקלט והשליחה -->
        <div class="chat-input">
            <!-- שדה ההקלדה -->
            <div class="input-wrapper">
                <label for="fileInput" class="upload-icon">📎</label>
                <textarea #chatInput [(ngModel)]="newMessage" placeholder="Type a message..." class="styled-input"
                    (keyup)="onTyping()" (blur)="onStopTyping()"></textarea>
                <input type="file" id="fileInput" #fileInput (change)="onFileSelected($event)" hidden />
                <div class="typing-indicator-inside" *ngIf="isTyping">
                    <div class="blink-icon-wrapper">
                        <!-- תלוי ב-typingMessage -->
                        <span *ngIf="typingMessage === 'Typing...'">⌨️</span> <span
                            *ngIf="typingMessage === '⌨️ Sending a message...'">⌨️</span>
                        <span *ngIf="typingMessage === '📷 Sending an image...'">🖼️</span>
                        <span *ngIf="typingMessage === '🎥 Sending a video...'">🎬</span>
                    </div>
                </div>
            </div>
            <!-- לואדר טעינת קובץ -->
            <div *ngIf="isUploading" class="upload-loader">
                <div class="spinner"></div>
                <p>🔄 העלאה מתבצעת... {{ uploadProgress }}%</p>
            </div>

            <!-- כפתור שליחה עגול -->
            <button *ngIf="chatType === 'group'" (click)="sendMessage($event)" class="send-button"><img class="send-btn"
                    src="https://res.cloudinary.com/dzqnyehxn/image/upload/v1740631997/send_e12sar.png"
                    alt="send" /></button>
            <button *ngIf="chatType === 'private'" (click)="sendPrivateMessage($event)" class="send-button"><img
                    class="send-btn" src="https://res.cloudinary.com/dzqnyehxn/image/upload/v1740631997/send_e12sar.png"
                    alt="send" /></button>
        </div>
    </div>
</div>
<!-- מודל לתצוגת תמונה במסך מלא -->
<div *ngIf="selectedImageUrl" class="image-modal" (click)="closeImageModal()">
    <div evStop (click)="closeImageModal()" class="modal-content">
        <img [src]="selectedImageUrl" alt="Enlarged Image" class="enlarged-image">
        <!-- <button class="close-modal" (click)="closeImageModal()">X</button> -->
    </div>
</div>


<!-- אזור ההתראות -->
<!-- <div *ngIf="notificationPermission !== 'granted'" class="notification-permission">
    <button (click)="showNotificationPrompt()" class="notification-button"> הפעל התראות 🔔 </button>
</div>

<button *ngIf="notificationPermission === 'granted'" (click)="sendTestNotification()" class="test-notification-btn">
    בדוק נוטיפיקציה
</button> -->

<!-- כפתור Debug -->
<!-- <div class="debug-panel" *ngIf="isMobile">
    <button (click)="showDebugInfo()" class="debug-button"> 🐞 </button>
</div> -->