<article class="user-preview">
    <div (click)="onPreviewClick()" class="image-container">
        <img class="imgprofile" [src]="user.img ? user.img : '../../../assets/images/contact.png'" alt="user-image" />
    </div>

    <div class="user-info">
        <h1 [title]="user.username" class="user-name" [ngClass]="{'long-field': isLongField(user.username, 15)}">
            {{ user.username }}
        </h1>
    </div>

    <div class="button-container">

        <!-- שורה ראשונה: שני כפתורים -->
        <div class="button-row">
            <div class="message-button-container">
                <button class="message-button" (click)="openPrivateChat($event)">
                    <img src="../../../assets/images/chat.png" alt="Send Private Message" />
                    <ng-container *ngIf="unreadMessagesCount$ | async as unreadMessages">
                        <span *ngIf="unreadMessages > 0 && !isPrivateChatOpen" class="badge">{{ unreadMessages }}</span>
                    </ng-container>
                </button>
            </div>

            <button class="social-button" (click)="openFacebookProfile($event, user)">
                <img src="assets/images/fb2.png" alt="Facebook Profile" />
            </button>
        </div>

        <!-- שורה שנייה: שני כפתורים -->
        <div class="button-row">
            <button class="social-button" (click)="openInstagramProfile($event, user)">
                <img src="assets/images/instagram.png" alt="Instagram Profile" />
            </button>

            <!-- כפתור חדש או נוסף בעתיד -->
            <button class="social-button" (click)="toggleContactsDropdown()">
                <img src="assets/images/eye-contact.png" alt="Instagram Profile" />
                <!-- <img src="assets/images/example.png" alt="New Button" /> -->
            </button>
            <div class="contacts-dropdown" *ngIf="showContactsDropdown">
                <button class="close-dropdown" (click)="closeContactsDropdown()">×</button>
                <ul>
                    <li *ngFor="let contact of contacts" (click)="navigateToContact(contact._id)">
                        {{ contact.name }}
                    </li>
                </ul>
            </div>

        </div>

    </div>
</article>

<!-- מודל צ'אט פרטי -->
<div class="chat-modal" *ngIf="isPrivateChatOpen" evStop (clickOutsideCapture)="closePrivateChat()">
    <div class="chat-content">
        <span class="close" (click)="closePrivateChat()">&times;</span>
        <app-chat [chatType]="'private'" [targetUserId]="user._id" (closeChat)="closePrivateChat()"></app-chat>
    </div>
</div>

<router-outlet />