@import "../../../../assets/scss/setup/variables";
@import "../../../../assets/scss/setup/functions";

.user-list {
    display: grid;
    gap: 20px;

    // גריד לתצוגה במחשב
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
