<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myaccount.plugin.backgroundservice">

    <!-- הרשאות נחוצות -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:name="com.myaccount.plugin.backgroundservice.MyApplication" 
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <!-- שירות הרקע -->
        <service
            android:name="com.myaccount.plugin.backgroundservice.BackgroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback|dataSync|specialUse"
            android:stopWithTask="false"
            android:process=":remote"/>

        <!-- שירות JobScheduler -->
        <service
            android:name="com.myaccount.plugin.backgroundservice.RestartJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>

        <!-- מאזין לאתחול המכשיר -->
        <receiver
            android:name="com.myaccount.plugin.backgroundservice.BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/> 
                

            </intent-filter>
        </receiver>

        <!-- <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="true"
            android:exported="false" /> -->


         <activity 
            android:name="com.myaccount.plugin.backgroundservice.EnableLocationActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    </application>
</manifest>
