<article class="contact-preview" (click)="onPreviewClick()">
  <img src="../../../assets/images/contact.png" alt="contact-image" />
  <div class="contact-info">
    <h1 class="contact-name" [ngClass]="{ 'long-name': isLongName }">
      {{ contact.name }}
    </h1>
    <h1 class="contact-last-name" [ngClass]="{ 'long-name': isLongName }">
      {{ contact.lastName }}
    </h1>
  </div>



  <div class="button-container">
    <!-- Delete Button -->
    <button class="delete-button" evStop (click)="onDeleteClick()">
      <img src="../../../assets/images/delete1.png" alt="delete image" />
    </button>
    <!-- Edit Button -->
    <button class="edit-button" evStop (click)="onEditClick()" [routerLink]="['/contact/edit', contact._id]">
      <img src="../../../assets/images/edit2.png" alt="edit contact" />
    </button>
    <button class="facebook-login-button" evStop (click)="loginWithFacebookOrRedirect(contact)">
      <img class="fb-img" src="../../../assets/images/fb2.png" alt="delete image" />
    </button>
  </div>

  <!-- Reusable Modal -->
  <app-modal evStop [isVisible]="showDeleteModal" [message]="'Are you sure you want to delete this contact?'"
    (confirmed)="confirmDelete()" (canceled)="cancelDelete()"></app-modal>
</article>
<router-outlet />