@import "../../../../assets/scss/setup/variables";
@import "../../../../assets/scss/setup/functions";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 26em;
  //gap: 20px;

  .contact-preview {
    display: flex;
    /* מעבירים את הכל לטור: תמונה, שם, ואז כפתורים */
    flex-direction: column;
    align-items: center; /* למרכז את כל הפריטים בטור */
    justify-content: center;

    background: linear-gradient(135deg, $clr9, $clr6);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    height: 17em;
    border-radius: 20px;
    padding: 15px;
    gap: 10px;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    /* התמונה */
    .contact-image {
      @extend .contact-image; // שימוש בהגדרות גלובליות
      width: 70px;
      height: 70px;
      object-fit: fill;
      // border-radius: 50%; // אם תרצה עיגול מלא
      // border: 3px solid $clr8;
    }

    /* שם הקונטקט */
    .contact-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .contact-name {
        margin: 0;
        font-size: rem(20px);
        color: $clr8;
        font-weight: bold;
        text-align: center;
        &.long-name {
          font-size: rem(16px);
          line-height: 1.2;
          word-break: break-word;
        }
      }
    }

    /* כפתורים למטה */
    .button-container {
      display: flex;
      flex-direction: row; /* כך הכפתורים יהיו בשורה */
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 0.5rem;

      .delete-button,
      .edit-button,
      .facebook-login-button {
        background-color: $clr5;
        height: 2.5em;
        width: 2.5em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease, background-color 0.3s ease;

        img {
          height: 1.8em;
          width: 1.8em;
        }

        &:hover {
          transform: scale(1.1);
          background-color: $clr6;
        }

        &:active {
          transform: scale(1.05);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  @media (max-width: 600px) {
    .contact-preview {
      /* אפשר להישאר עם flex-direction: column גם במובייל */
      /* או לצמצם גדלים – לבחירתך */
      .contact-image {
        width: 60px;
        height: 60px;
      }

      .contact-name {
        font-size: rem(18px);
      }

      .button-container {
        gap: 8px;
      }
    }
  }
}
