<section class="user-index">
    <!-- שדה חיפוש -->
    <user-filter class="filter-container"></user-filter>

    <!-- רשימת משתמשים -->
    <user-list *ngIf="users$ | async as users" (remove)="onRemoveUser($event)" [users]="users ?? []">
    </user-list>



</section>
<!-- כפתורים לפתיחת הצ'אט -->
<button class="chat-button group-chat-btn" (click)="openChat('group')">Group Chat</button>
<!-- <button class="chat-button private-chat-btn" (click)="openChat('private')">
    Private Chat
    <span *ngIf="unreadPrivateMessagesCount > 0" class="badge">{{ unreadPrivateMessagesCount }}</span>
</button> -->

<!-- מודל צ'אט קבוצתי -->
<div class="chat-modal" *ngIf="isGroupChatOpen" evStop (clickOutsideCapture)="closeChat('group')">
    <div class="chat-content">
        <span class="close" (click)="closeChat('group')">&times;</span>
        <app-chat [chatType]="'group'"></app-chat>
    </div>
</div>

<!-- מודל צ'אט פרטי -->
<div class="chat-modal" *ngIf="isPrivateChatOpen">
    <div class="chat-content">
        <span class="close" (click)="closeChat('private')">&times;</span>
        <app-chat [chatType]="'private'"></app-chat>
    </div>
</div>