<section class="user-index">
    <!-- שדה חיפוש -->
    <user-filter class="filter-container"></user-filter>

    <!-- רשימת משתמשים -->
    <user-list *ngIf="users$ | async as users" (remove)="onRemoveUser($event)" [users]="users ?? []">
    </user-list>



</section>
<!-- כפתור לפתיחת הצ'אט -->
<button class="chat-button" (click)="openChat()">Chat</button>

<!-- מודל של הצ'אט -->
<div class="chat-modal" *ngIf="isChatOpen">
    <div class="chat-content">
        <span class="close" (click)="closeChat()">&times;</span>
        <app-chat></app-chat>
    </div>
</div>