<div class="contact-edit-container">
  <section (clickOutside)="onBack()" class="flex column contact-edit">
    <section class="contact-actions">
      <a routerLink="/contact">
        <img src="../../../assets/images/back.png" alt="go back" />
      </a>
      <button *ngIf="contact._id" (click)="onDeleteClick()">
        <img class="delete-img" src="../../../assets/images/delete1.png" alt="delete image" />
      </button>
    </section>
    <img class="contact-image" src="../../../assets/images/contact.png" alt="contact image" />
    <form [formGroup]="form" (ngSubmit)="onSaveContact()" class="flex column">
      <h2>{{ contact._id ? 'Edit' : 'Add' }} Contact</h2>
      <div class="flex column">
        <!-- Name Input -->
        <div class="form-input">
          <label for="name">Name</label>
          <input formControlName="name" placeholder="Contact name" id="name" />
        </div>
        <ng-container *ngIf="form.controls['name'] as nameInput">
          <p *ngIf="nameInput.errors && nameInput.touched" class="errors">
            <span *ngIf="nameInput.errors['required']">Name is required!</span>
            <span *ngIf="nameInput.errors['minlength']">Name must be at least 3 characters long!</span>
          </p>
        </ng-container>

        <!-- Last Name Input -->
        <!-- Last Name Input -->
        <div *ngIf="IsLastName || contact.lastName" class="form-input">
          <label for="lastName">Last Name</label>
          <input formControlName="lastName" placeholder="Contact Last Name" id="lastName" />
        </div>

        <ng-container *ngIf="form.controls['lastName'] as lastNameInput">
          <p *ngIf="lastNameInput.errors && lastNameInput.touched" class="errors">
            <span *ngIf="lastNameInput.errors['required']">Last name is required!</span>
            <span *ngIf="lastNameInput.errors['minlength']">Last name must be at least 3 characters long!</span>
          </p>
        </ng-container>

        <!-- Phone Input -->
        <div class="form-input">
          <label for="phone">Phone</label>
          <input formControlName="phone" placeholder="Phone number" id="phone" />
        </div>
        <ng-container *ngIf="form.controls['phone'] as phoneInput">
          <p *ngIf="phoneInput.errors && phoneInput.touched" class="errors">
            <span *ngIf="phoneInput.errors['required']">Phone number is required!</span>
            <span *ngIf="phoneInput.errors['pattern']">Phone number is not valid!</span>
          </p>
        </ng-container>

        <!-- Email Input -->
        <div class="form-input">
          <label for="email">Email</label>
          <input formControlName="email" placeholder="Contact Email" id="email" />
        </div>
        <ng-container *ngIf="form.controls['email'] as emailInput">
          <p *ngIf="emailInput.errors && emailInput.touched" class="errors">
            <span *ngIf="emailInput.errors['required']">Email is required!</span>
            <span *ngIf="!emailInput.errors['nonEnglishLetters'] && emailInput.errors['email']">
              Email is not valid!
            </span>
            <span *ngIf="emailInput.errors['nonEnglishLetters']">
              Only English letters are allowed!
            </span>
          </p>
        </ng-container>


        <!-- Birth Input -->
        <div class="form-input">
          <label for="birthday">Birth</label>
          <input type="date" formControlName="birth" id="birthday" />
        </div>
        <ng-container *ngIf="form.controls['birth'] as birthInput">
          <p *ngIf="birthInput.errors && birthInput.touched" class="errors">
            <span *ngIf="birthInput.errors['required']">Birth date is required!</span>
          </p>
        </ng-container>

        <!-- Buttons -->
        <div evStop class="form-actions">
          <!-- A container for the switch and the text underneath it -->
          <div *ngIf="!(contact.lastName)" class="switch-container">
            <label class="switch">
              <input type="checkbox" [checked]="IsLastName || contact.lastName" (change)="onToggleLastName($event)" />
              <span class="slider round"></span>
            </label>
            <!-- Text below the switch -->
            <span class="switch-label">Add Last Name</span>
          </div>

          <!-- Save button to the right of the switch container -->
          <button [disabled]="form.invalid" class="save-btn" type="submit">
            Save
          </button>
        </div>

      </div> <!-- Added closing </div> for .flex.column -->
    </form>
  </section>
</div>

<!-- Reusable Modal for Delete Confirmation -->
<app-modal evStop [isVisible]="showDeleteModal" [message]="'Are you sure you want to delete this contact?'"
  (confirmed)="confirmDelete()" (canceled)="cancelDelete()">
</app-modal>