@import "../../../assets/scss/setup/functions";
@import "../../../assets/scss/setup/variables";

.contact-edit-container {
    position: fixed; /* Ensures it overlays the entire page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1); /* Reduced opacity for clearer background */
    z-index: 1000; /* Ensures it appears above other elements */
}

.contact-edit {
    min-width: 350px;
    width: max-content;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Stronger shadow for modal effect */
    font-family: monospace;
    padding: 20px;
    background-color: white; /* White background for modal */
    display: flex;
    flex-direction: column;
    border-radius: 10px; /* Rounded corners for the modal */
    z-index: 1001; /* Ensures it’s above the overlay */

    .contact-actions {
        display: flex;
        justify-content: space-between;

        a {
            display: flex;
            place-items: center;
            margin-inline-start: 10px;
            &:hover {
                transform: scale(1.1); /* Use transform for scaling */
            }
        }

        button {
            padding: 0;
            cursor: pointer;
            background: none;
            border: none;
            &:hover {
                transform: scale(1.1); /* Use transform for scaling */
            }
        }
    }

    form {
        h2 {
            margin-block-end: 30px;
            font-weight: 700;
            font-size: rem(24px);
        }

        .form-input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-block-end: 10px;

            label {
                font-weight: 600;
                font-size: rem(18px);
            }

            input {
                padding: 5px;
                font-size: rem(16px);
                height: 40px;
                width: 250px;
                border: 1px solid $clr8;
                color: $clr8;
                border-radius: 3px;
            }
        }
    }

    .save-btn {
        font-size: rem(18px);
        background-color: $clr5;
        border-radius: 3px;
        width: 70px;
        height: 30px;
        border: 1px solid $clr8;
        font-weight: 600;
        &:hover {
            background-color: $clr9;
            color: white;
        }
        &:disabled {
            color: $clr8;
            background-color: $clr5;
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .contact-image {
        width: 100px;
        height: 100px;
        margin: 10px 0 20px 20px;
    }

    .errors {
        color: red;
        margin: 0 0 10px 0;
    }
}

