<div class="contact-edit-container" *ngIf="contact">
  <section class="flex column contact-edit">
    <section class="contact-actions">
      <a routerLink="/contact">
        <img src="../../../assets/images/back.png" alt="go back" />
      </a>
      <button *ngIf="contact._id" (click)="onDeleteClick()">
        <img src="../../../assets/images/delete.png" alt="delete image" />
      </button>        
    </section>
    <img class="contact-image" src="../../../assets/images/contact.png" alt="contact image" />
    <form [formGroup]="form" (ngSubmit)="onSaveContact()" class="flex column">
      <h2>{{ contact._id ? 'Edit' : 'Add' }} Contact</h2>
      <div class="flex column">
        <!-- Name Input -->
        <div class="form-input">
          <label for="name">Name</label>
          <input formControlName="name" placeholder="Contact name" id="name" />
        </div>
        <p *ngIf="form.controls['name'].errors && form.controls['name'].touched" class="errors">
          <span *ngIf="form.controls['name'].errors['required']">Name is required!</span>
          <span *ngIf="form.controls['name'].errors['minlength']">Name must be at least 3 characters long!</span>
        </p>
         <!-- Last Name Input -->
         <div *ngIf="IsLastName" class="form-input">
          <label for="lastName">Last Name</label>
          <input formControlName="lastName" placeholder="Contact lastName" id="lastName" />
        </div>
        <p *ngIf="form.controls['lastName'].errors && form.controls['lastName'].touched" class="errors">
          <span *ngIf="form.controls['lastName'].errors['required']">last name is required!</span>
          <span *ngIf="form.controls['lastName'].errors['minlength']">Name must be at least 3 characters long!</span>
        </p>
        
        <!-- Phone Input -->
        <div class="form-input">
          <label for="phone">Phone</label>
          <input formControlName="phone" placeholder="Phone number" id="phone" />
        </div>
        <p *ngIf="form.controls['phone'].errors && form.controls['phone'].touched" class="errors">
          <span *ngIf="form.controls['phone'].errors['required']">Phone number is required!</span>
          <span *ngIf="form.controls['phone'].errors['pattern']">Phone number is not valid!</span>
          </p>
          
          <!-- Email Input -->
          <div class="form-input">
            <label for="email">Email</label>
            <input formControlName="email" placeholder="Contact email" id="email" />
          </div>
          <p *ngIf="form.controls['email'].errors && form.controls['email'].touched" class="errors">
            <span *ngIf="form.controls['email'].errors['required']">Email is required!</span>
            <span *ngIf="form.controls['email'].errors['email']">Email is not valid!</span>
          </p>
        </div>
        
        <!-- Birth Input -->
        <div class="form-input">
          <label for="birthday">Birth</label>
          <input type="date" formControlName="birth" id="birthday" />
        </div>
        <p *ngIf="form.controls['birth'].errors && form.controls['birth'].touched" class="errors">
          <span *ngIf="form.controls['birth'].errors['required']">Birth date is required!</span>
        </p>       
        <button (click)="onAddLastNameClick()" class="add-btn" type="button">Add Last name</button>
        <div align="end">
          <button [disabled]="form.invalid" class="save-btn" type="submit">Save</button>
        </div>
      </form>
    </section>
  </div>
  
  <!-- Reusable Modal for Delete Confirmation -->
  <app-modal
    [isVisible]="showDeleteModal"
    [message]="'Are you sure you want to delete this contact?'"
    (confirmed)="confirmDelete()"
    (canceled)="cancelDelete()"
  ></app-modal>
  