.login-signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  
    h4 {
      margin-bottom: 20px;
      text-align: center;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 4px;
      }
  
      input {
        margin-bottom: 16px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
  
        &:hover {
          background-color: #0056b3;
        }
      }
  
      a {
        color: #007bff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .error-message {
      color: red;
      font-size: 0.9em;
      margin-top: 10px;
      text-align: center;
    }
  }
  