<!-- רקע כהה שמכסה את המסך -->
<div class="backdrop"></div>

<!-- קונטיינר המודל -->
<section *ngIf="contact$ | async as contact" class="contact-details" evStop (clickOutsideCapture)="onBack()">

  <!-- כותרת וחץ חזור -->
  <section class="contact-header">
    <button (click)="onBack()">
      <img src="../../../assets/images/back.png" alt="go back" />
    </button>
    <h1>Contact Details</h1>
  </section>

  <!-- תמונת איש הקשר -->
  <div class="media-row">
    <div *ngIf="contact.img" class="contact-image-container">
      <img [src]="contact.img ? contact.img : '../../../assets/images/picture.png'" class="contact-image"
        [ngClass]="[contact.imageSize || 'medium', contact.imageShape || 'circle']" alt="contact-image" />
    </div>

    <div *ngIf="contact.video" class="contact-video-container">
      <video width="220" height="140" controls [src]="contact.video"
        [ngClass]="[contact.imageSize || 'medium', contact.imageShape || 'circle']">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>



  <!-- פרטי איש הקשר -->
  <div class="contact-fields">
    <p><strong>Name:</strong> {{ contact.name }}</p>
    <p *ngIf="contact.lastName"><strong>Dscription:</strong> {{ contact.lastName }}</p>
    <p *ngIf="contact.additionalInfo">
      <strong>Info:</strong>
      <span [innerHTML]="contact.additionalInfo | extractDomain"></span>
    </p>

    <!-- <p><strong>Phone:</strong> {{ contact.phone }}</p>
    <p><strong>Email:</strong> {{ contact.email }}</p>
    <p><strong>Birthday:</strong> {{ contact.birthday | date: 'longDate' }}</p> -->
  </div>

</section>

<router-outlet />