<section class="contact-index">
  <!-- שדה חיפוש -->
  <contact-filter>
    <input type="text" placeholder="Search contact..." />
  </contact-filter>

  <!-- כפתור הוספת איש קשר -->
  <button class="add-contact-btn" routerLink="/contact/edit">
    <img src="../../../../assets/images/add-contact.png" alt="Add contact image" />
    <span>Add Contact</span>
  </button>

  <!-- רשימת אנשי קשר -->
  <contact-list (remove)="onRemoveContact($event)" [contacts]="contacts$ | async">
  </contact-list>
</section>